<a href="https://colab.research.google.com/github/kjghfnxggdgbvg/mamatha/blob/main/hypothesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [ ]:
from scipy.stats import ttest_1samp, ttest_rel, ttest_ind

In [ ]:
cutlet = pd.read_csv('/content/Cutlets.csv')

In [ ]:
cutlet

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [ ]:
# Here number of sample i,e N = 2
      # size of each sample i,e n = 34
      # null hypothesis is diameter of cutlets in both sample are same
      # alternative hypothesis is diameter of cutlets in both sample are different
      # apply 2 sample t test and in that paired test
      # alpha value is 0.05

In [ ]:
unitA =pd.Series([6.809 , 6.4376 , 6.9157 , 7.3012 , 7.4488 , 7.3871 , 6.8755 , 7.0621 , 6.684 , 6.8236 , 7.393 , 7.5169 ,  6.9246 , 6.9256 , 6.5797 , 6.8394 , 6.597 , 7.2705 , 7.2828 , 7.3495 , 6.9438 , 7.156 , 6.5341 , 7.2854 , 6.9952 , 6.8568 , 7.2163 , 6.6801 , 6.9431 , 7.0852 , 6.7794 , 7.2783 , 7.1561 , 7.3943 , 6.9405])

In [ ]:
unitB =pd.Series([6.7703 , 7.5093 , 6.73 , 6.7878 , 7.1522 , 6.811 , 7.2212 , 6.6606 , 7.2402 , 7.0503 , 6.881 , 7.4059 , 6.7652 , 6.038 , 7.1581 , 7.024 , 6.6672 , 7.4314 , 7.307 , 6.7478 , 6.8889 , 7.422 , 6.5217  , 7.1688 , 6.7594 , 6.9399 , 7.0133 , 6.9182 , 6.3346 , 7.5459 , 7.0992 , 7.118 , 6.6965 , 6.578 , 7.3875])

In [ ]:
ttest_rel(unitA , unitB , alternative='two-sided')

TtestResult(statistic=0.7536787225614316, pvalue=0.4562300768038412, df=34)

In [ ]:
# yes, here p>alpha value i.e,p>0.05 hence we have accept null hyothesis and reject alternative hypothesis
# inference : there no change  in diameter of cutlets ,No significant difference

In [ ]:
# Here for labtat file applying ANOVA method
# Here number of sample i,e N = 4
      # size of each sample i,e n = 119
      # null hypothesis : there is no significant difference average turn around time(TAT) of reports of the laboratories on their preferred list
      # alternative hypothesis : there is significant difference average turn around time(TAT) of reports of the laboratories on their preferred list
      # apply ANOVA
      # alpha value is 0.05

In [ ]:
lab = pd.read_csv('/content/LabTAT.csv')

In [ ]:
lab

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [ ]:
stats.f_oneway(lab.iloc[:,0], lab.iloc[:,1], lab.iloc[:,2] ,lab.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
# Here for costomer+orderForm file applying chi-square method
# Here number of sample i,e N = 4
      # size of each sample i,e n = 300
      # null hypothesis : there is no change defective% varies of center
      # alternative hypothesis : there is change defective% varies of center
      # apply chi-square
      # alpha value is 0.05
      # this problem i used excel pivot table to create table of error free and defective

In [ ]:
order = pd.read_csv('/content/Costomer+OrderForm.csv')

In [ ]:
order

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [ ]:
# contingency table used pivot table
table = [[29 , 33 , 31 , 20] ,
         [271 , 267 , 269 , 280]]
print(table)

[[29, 33, 31, 20], [271, 267, 269, 280]]

In [ ]:
stat, p , dof , expected = stats.chi2_contingency(table)
print('dof=%d' % dof)
print(p)

dof=3
0.2771020991233135

In [ ]:
expected

array([[ 28.25,  28.25,  28.25,  28.25],
       [271.75, 271.75, 271.75, 271.75]])

In [ ]:
#interpert p-value
alpha = 0.05
print('significance=%.3f , p=%.3f' % (alpha,p))
if p<= alpha:
  print('Dependence - There is no change defective% varies of center')
else:
  print('independence - There is change defective% varies of center')

significance=0.050 , p=0.277
independence - There is change defective% varies of center

In [ ]:
 #Here for BuyerRatio file applying chi-square method
# Here number of sample i,e N = 2
      # size of each sample i,e n = 300
      # null hypothesis : there is no change defective% varies of center
      # alternative hypothesis : there is change defective% varies of center
      # apply chi-square
      # alpha value is 0.05

In [ ]:
Buy = pd.read_csv('/content/BuyerRatio.csv')

In [ ]:
Buy

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [ ]:
# contingency table
table = [[50 , 142 , 131 , 70] ,
         [435 , 1523 , 1356 , 750]]
print(table)

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [ ]:
stat, p , dof , expected = stats.chi2_contingency(table)
print('dof=%d' % dof)
print(p)

dof=3
0.6603094907091882

In [ ]:
expected

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [ ]:
#interpert p-value
alpha = 0.05
print('significance=%.3f , p=%.3f' % (alpha,p))
if p<= alpha:
  print('Dependence - There is no difference between number of females and males buyer')
else:
  print('independence - There is difference between number of females and males buyer')

significance=0.050 , p=0.660
independence - There is difference between number of females and males buyer